
body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
}
header {
  background-color: #373738;
  padding: 10px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.logo {
  display: center;
  align-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.heroImg {
  background-color: #ba9e8a;
  padding: 5px 5px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ba9e8a;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
button:hover{
  background-color: #985D2c; 
  color: white;
}
footer {
  background-color: #373738;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
.heading {
  text-align: center;
  padding: 15px 5px;
  font-size: 30px;
}
/* My UX Skills Section */
.flexContainer {
  display: flex;
  padding: 60px 30px;
}
.flexContainer div {
  width: 33%;
  padding: 25px;
}

/* My Work Section */
.myWork {
  padding: 60px 30px;
  padding-top: 0;
  background-color: #ba9e8a;
}
.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 350px 350px 350px;
  grid-template-areas:
  "img1 content1"
  "img2 content2"
  "img3 content3"
  ;
}
.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
.k9 {
  grid-area: img1;
}
.gov {
  grid-area: img2;
}
.incentify {
  grid-area: img3;
}
.img1, .img2, .img3, .content1, .content2, .content3 {
  padding: 80px;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
.preloaderimg{
  position: fixed;
  height: 30;
  z-index: 100000;
  background-color: black;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 3s ease;
  transition: all;
  width: 30%;
  margin: 0 auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(720deg);
  }
}